@import url(fonts.css);

/*---------------------------- Общие стили и сбросы ----------------------------------------*/

html,body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue";
}

body {
	background-color: #f8fafb;
}

a {
	text-decoration: none;
	color: #000;
}

h2 {
	color: #373737;
	font-size: 14px;
}

.wraper {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

/*---------------------------------------------------------------------------------------------*/

/*-------------------------------- стили на header --------------------------------------------*/

.header {
	width: 100%;
	padding: 10px 0 10px 0;
	float: left;
}

.logo {
	width: 160px;
	min-height: 99px;
	float: left;
}

.headerNav {
	width: 370px;
	margin: 0 0 0 10px;
	float: left;
}

.menuIcons {
	width: 90px;
	margin: 10px 100px 0 0;
	float: right;
}

.menuIcons ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.menuIcons ul li {
	margin: 0 15px 0 0;
	list-style: none;
	float: left;
}

.menuText {
	width:315px;
	min-height: 30px;
	margin: 20px 30px 0 25px;
	float: left;
}

.menuText ul {
	margin: 0 0 0 30px;
	padding: 0;
	list-style: none;
	float: left;
}

.menuText ul li {
	margin: 5px 5px 0 0;
	padding: 0 5px 0 0;
	border-right: 1px solid #cbcdce;
	list-style: none;
	float: left;
}

.menuText a {
	color: black;
	font-size: 12px;
}

.menuText a:hover {
	color: #b84545;
}

.contacts {
	width: 390px;
	min-height: 65px;
	float: right;
	color: #ababab;
	font-size: 12px;
}

.contactsEmail {
	color: #b84545;
	font-size: 12px;
	text-decoration: underline;
}

.contacts p {
	margin: 10px 25px 0 0;
}

.contactsPhone {
	font-size: 18px;
	color: #cf3232;
	font-family: "HelveticaNeuBold";;
	float: left;
}

.contactsText {
	float:left;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*--------------------------------- Навигация по погрузчикам --------------------------------------------------*/
.tech {
	width: 100%;
	min-height: 103px;
	background:  url(../images/techBg.png);
	padding: 0px 0 0px 0;
	float: left;
}

.techType {
	width: 101px;
	margin: 5px 0 0 15px;
	float: left;
}

.techType p {
	width: 100%;
	margin: 0;
	text-align: center;
	color: #767777;
    font-size: 12px;
    float: left;

}

/*----------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------- 4 кнопки навигации ----------------------------------------------*/

.navigation {
	width: 100%;
	margin: 10px 0 0 0;
	background: url("../images/navBg.png");
	float:left;
}

.navigationButton {
	width: 227.5px;
	min-height: 61px;
	margin: 0 0 0 10px;
	float: left;
}

.navigationButton a {
	display: block;
	width: 100%;
	min-height: 61px;
}

.navigationButton p {
	color: #474747;
	font-size: 12px;
	font-family: "HelveticaNeuBold";;
	margin: 25px 0 0 15px;
	float: left;
}

.navigationButton .finance {
	margin: 18px 0 0 15px;
	float: left;
}

/*------- Работа изменения цвета фона, кнопок и текста ----------*/

.navigationButton:hover {
	background: url(../images/buttonActive.png);
	cursor: pointer;
}

.navigationButton:hover p {
	color: white;
}

.navigationIcon {
	width: 37px;
	min-height: 37px;
	margin: 12px 0 0 75px;
	float: left;

}

/*---------------------------------------------------------------*/

/*----Работа изменения цвета иконок на кнопках -------*/

.watchIcon {
	background: url(../images/watchLogo.png);
}

.navigationButton:hover .watchIcon {
	background: url(../images/watchLogoActive.png);
}

.serviceIcon {
	background: url("../images/serviceLogo.png");
}

.navigationButton:hover .serviceIcon {
	background: url(../images/serviceLogoActive.png);
}

.toolsIcon {
	background: url("../images/toolsLogo.png");
}

.navigationButton:hover .toolsIcon {
	background: url(../images/toolsLogoActive.png);
}

.financeIcon {
	min-height: 41px;
	background: url("../images/financeLogo.png");
}

.navigationButton:hover .financeIcon {
	background: url(../images/financeLogoActive.png);
}

/*------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------- Слайдер ----------------------------------------------------*/

.slider{
	width: 920px;
	margin: 10px 0 0 0;
	background: url(../images/sliderBg.png);
	min-height: 203px;
	float: left;
	position: relative;
}

.slide_1 {
	width: 100%;
	position: absolute;
}

/*----------- slider parts - небольшие по( 10px ) колонки по бокам лайдера,
 для правильной отрисовки тени.----------------------------------------*/

.sliderParts {
	width: 10px;
	margin: 10px 0 0 0;
	min-height: 203px;
	float: left;
}

.sliderPartLeft {
	background: url(../images/sliderPartLeftBg.png);
}

.sliderPartRight {
	background: url(../images/sliderPartRightBg.png);
}

.sliderText{
	width: 210px;
	min-height: 60px;
	float: left;
	position: absolute;
	top: 72px;
	left: 52px;
}

.sliderText p {
	display: inline-block;
	padding: 0 10px 0 5px;
	margin: 5px 0 0 0;
	color: #ffffff;
	font-size: 18px;
	background: rgba(0,0,0,.4);
}

.sliderNav {
	width: 65px;
	min-height: 20px;
	position: absolute;
	top: 165px;
	left: 420px;
}

.sliderNavButton {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255,255,255,1);
	margin: 5px 0 0 5px;
	float: left;
	z-index: 50;
}

.sliderNavButton:focus {
	background-color: #c53939;
	outline: none;
}

/*----------------------------------------------------------------------------------------------------------*/

/*-------------------------------------- Левая колонка новостей --------------------------------------------*/

.news {
	width: 210px;
	min-height: 300px;
	margin: 10px 0 0 0;
	float: left;
}

.newsContainer{
	width: 100%;
	min-height: 100px;
	float: left;
}

.newsContainerBorder {
	border-bottom: 1px dotted #9a9b9c;
}

.newsDate {
	color: #8c1a1a;
	font-size: 10px;
	text-transform: uppercase;
}

.newsText {
	color: #4f4f4f;
	font-size: 11px;
}

.newsContainer a {
	color: #8c1a1a;
	font-size: 11px;
	text-decoration: underline;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------- Правая (большая) колонка для контента -----------------------------------------*/

.mainContent {
	width: 720px;
	min-height: 300px;
	margin: 10px 0 0 0;
	float: right;
}

.mainContent a {
	text-decoration: underline;
	color: #8c1a1a;
}

.mainContent p , span {
	font-size: 11px;
	color: #4f4f4f;
}

.mainContent ul {
	color: #8c1a1a;
	font-size: 11px;
}

.mainContent ul li {
	margin: 0 0 15px 0;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------- Бар с логотипа других фирм (партнеров) -----------------------------------*/

.friends {
	width: 100%;
	min-height: 80px;
	margin: 20px 0 0 0;
	background: url(../images/friendsBg.png);
	float: left;
}

.friendsLogo {
	width: 110px;
	min-height: 80px;
	margin: 0 0 0 21px;
	float: left;
}

.friendsLogo a {
	display: block;
	width: 100%;
	height: 80px;
}

.friendsLogo img {
	margin: 25px 0 0 0;
}

/*--------- Работа логотипов при наведении ------------------*/

.friendsLogo_1 {
	background: url(../images/friendsLogo_1.png) no-repeat 0px 25px;
}

.friendsLogo_1:hover {
	background: url(../images/friendsLogoActive_1.png) no-repeat 0px 25px;
	cursor: pointer;
}

.friendsLogo_2 {
	background: url(../images/friendsLogo_2.png) no-repeat 5px 25px;
}

.friendsLogo_2:hover {
	background: url(../images/friendsLogoActive_2.png) no-repeat 5px 25px;
	cursor: pointer;
}

.friendsLogo_3 {
	background: url(../images/friendsLogo_3.png) no-repeat 10px 25px;
}

.friendsLogo_3:hover {
	background: url(../images/friendsLogoActive_3.png) no-repeat 10px 25px;
	cursor: pointer;
}

.friendsLogo_4 {
	background: url(../images/friendsLogo_4.png) no-repeat 0px 25px;
}

.friendsLogo_4:hover {
	background: url(../images/friendsLogoActive_4.png) no-repeat 0px 25px;
	cursor: pointer;
}

.friendsLogo_5 {
	background: url(../images/friendsLogo_5.png) no-repeat 5px 26px;
}

.friendsLogo_5:hover {
	background: url(../images/friendsLogoActive_5.png) no-repeat 5px 26px;
	cursor: pointer;
}

.friendsLogo_6 {
	background: url(../images/friendsLogo_6.png) no-repeat 0px 26px;
}

.friendsLogo_6:hover {
	background: url(../images/friendsLogoActive_6.png) no-repeat 0px 26px;
	cursor: pointer;
}

.friendsLogo_7 {
	background: url(../images/friendsLogo_4.png) no-repeat 20px 25px;
}

.friendsLogo_7:hover {
	background: url(../images/friendsLogoActive_4.png) no-repeat 20px 25px;
	cursor: pointer;
}

/*-----------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------- Нижнее меню сайта --------------------------------------------------------------*/

.siteMap {
	width: 100%;
	margin: 20px 0 0 0;
	float: left;	
}

.siteMapContainer {
	width: 155px;
	margin: 0 0 0 0;
	float: left;
}

.siteMapHead {
	font-size: 10px
}

.siteMapBorder {
	border-right: 1px solid #d8dadb;
}

.siteMapContainer a {
	color: rgb(93, 93, 93);
}

.siteMapContainer >ul {
	padding: 0;
	list-style: none;
	color: rgb(93, 93, 93);
	margin: 0 0 0 25px;
} 

.siteMapContainer ul>li {
	margin: 0 0 15px 0;
} 

.siteMapContainer ul>li>ul {
	padding: 0;
} 

.siteMapContainer li>ul>li {
	list-style: none;
	font-size: 11px;
	margin: 10px 0 0 0;
	display: none;
}

/* ---------- Работа нижнего меню сайта ----------------*/

.siteMapContainer ul li:focus {
	color: #cf3434;
	outline: none;
}

.siteMapContainer ul li:active {
	color: #cf3434;
	outline: none;
}

.siteMapContainer .siteMapHead:hover {
	cursor: pointer;
	color: #cf3434
}

.siteMapContainer .siteMapHead:active + li>ul>li {
	display: list-item;
}

.siteMapContainer .siteMapHead:focus + li>ul>li {
	display: list-item;
}

.siteMapContainer ul>li>ul>li:hover {
	color: #cf3434;
	list-style: disc;
	margin: 10px 0 0 10px;
}

.siteMapContainer a:hover {
	color: #cf3434;
	text-decoration: underline;
}


/*-----------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------ Стили на footer ----------------------------------------------------*/
.footer {
	width: 100%;
	float: left;
	margin: 15px 0 10px 0;
	
}

.footerLogo {
	width: 85px;
	min-height: 52px;
}

.copyright {
	width: 295px;
	margin: 10px 0 0 0;
	float: left;
}

.copyright p {
	margin: 5px 0 0 0;
	font-size: 12px;
	color: rgb(133, 133, 133);
}

.footerContacts {
	width: 335px;
	margin: 8px 0 0 65px;
	float: left;
}

.footerContactsText {
	margin: 0px;
	font-size: 12px;
	color: rgb(140, 140, 140);
}

.footerPhone {
	margin: 10px 25px 0 0;
	font-size: 18px;
	margin: 10px 20px 0 0;
	float: left;
	color: rgb(140, 140, 140);
}

.Empty {
	width: 84px;
	min-height: 28px;
	border: 1px solid black;
	margin: 32px 0 0 15px;
	float: right;
}

.buttonUp {
	width: 100px;
	height: 100px;
	background: url(../images/buttonUp.png) no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.buttonUp>a {
	display: block;
	width: 100%;
	min-height: 100px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*-----------Вспомогательный сброс левого margin -------*/

.firstElement{
	margin-left: 0px;
}
